:root {
  --Primary: #eb2f64;
  --Primary-light: #FF3366;
  --Primary-dark: #BA265D;
  --Grey-light-1: #faf9f9;
  --Grey-light-2: #f4f2f2;
  --Grey-light-3: #f0eeee;
  --Grey-light-4: #ccc;
  --Grey-dark-1: #333;
  --Grey-dark-2: #777;
  --Grey-dark-3: #999;
  --dark-shadow: 0 3rem 6rem rgba(0,0,0,.3);
  --light-shadow: 0 2rem 5rem rgb(0,0,0,.06);
  --line: 2px solid var(--Grey-light-2); }

.btn-inline {
  display: inline-block;
  font-size: inherit;
  text-transform: capitalize;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: .1rem solid currentColor;
  color: var(--Primary);
  padding: .3rem;
  transition: all .3s; }
  .btn-inline:hover {
    color: var(--Primary-dark); }
  .btn-inline:focus {
    animation: pulsate 1s infinite; }

.btn {
  border: none;
  background-image: linear-gradient(to right, var(--Primary-light), var(--Primary-dark));
  color: #fff;
  font-size: 1.5rem;
  border-radius: 100px;
  overflow: hidden;
  cursor: pointer;
  position: relative; }
  .btn > * {
    display: inline-block;
    height: 100%;
    width: 100%;
    text-transform: uppercase;
    transition: all .2s; }
  .btn__visible {
    padding: 1.5rem 6rem; }
  .btn__invisible {
    padding: 1.5rem 0;
    position: absolute;
    top: -100%;
    left: 0; }
  .btn:hover {
    background-image: linear-gradient(to left, var(--Primary-light), var(--Primary-dark)); }
  .btn:hover .btn__visible {
    transform: translateY(100%); }
  .btn:hover .btn__invisible {
    top: 0; }
  .btn:focus {
    animation: pulsate 1s infinite; }

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25); }
  100% {
    transform: scale(1);
    box-shadow: none; } }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  background-image: linear-gradient(to right bottom, var(--Primary-light), var(--Primary-dark));
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  box-sizing: border-box;
  color: var(--Grey-dark-2); }

.heading-primary {
  font-size: 2.25rem;
  font-weight: 300;
  text-transform: uppercase; }

.heading-secondary {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 300; }

.paragraph {
  font-size: 1.4rem; }

.logo {
  height: 3.25rem;
  cursor: pointer; }

.search {
  flex: 0 0 40%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .search__input {
    border: none;
    background-color: var(--Grey-light-2);
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    padding: .7rem 2rem;
    border-radius: 10rem;
    width: 90%;
    transition: all .2s;
    margin-right: -3.5rem; }
    .search__input:focus {
      outline: none;
      width: 100%;
      background-color: var(--Grey-light-3); }
    .search__input::placeholder {
      color: var(--Grey-light-4);
      font-weight: 300; }
    .search__input::-webkit-input-placeholder {
      color: var(--Grey-light-4);
      font-weight: 300; }
  .search__button {
    border: none;
    outline: none;
    background-color: inherit;
    color: var(--grey-light-2); }
  .search__icon {
    height: 2.25rem;
    width: 2.25rem; }

.user-nav {
  display: flex;
  align-items: center;
  height: 100%; }
  .user-nav > * {
    padding: 2rem;
    align-self: stretch;
    cursor: pointer; }
  .user-nav > *:hover {
    background-color: var(--Grey-light-3); }
  .user-nav__icon-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center; }
  .user-nav__icon {
    height: 2.25rem;
    width: 2.25rem;
    color: var(--grey-light-2); }
  .user-nav__notif {
    font-size: .8rem;
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--Primary);
    color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2rem;
    left: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .user-nav__image-user {
    display: flex;
    align-items: center;
    gap: 1rem; }
  .user-nav__image {
    height: 3.75rem;
    border-radius: 50%; }

.side-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3.5rem 0; }
  .side-nav__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: .5rem; }
  .side-nav__link:link, .side-nav__link:visited {
    color: var(--Grey-light-1);
    text-decoration: none;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1.5rem 3rem;
    text-transform: uppercase;
    z-index: 10;
    position: relative; }
  .side-nav__link::before {
    content: "";
    width: .3rem;
    position: absolute;
    left: 0;
    height: 100%;
    background-color: var(--Primary);
    transform: scaleY(0);
    z-index: -1;
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }
  .side-nav__link:hover::before {
    transform: scaleY(1);
    width: 100%; }
  .side-nav__item--active {
    background-color: var(--Primary); }
  .side-nav__link:active:before {
    background-color: var(--Primary-light); }
  .side-nav__icon {
    font-size: 1.8rem; }
  .side-nav__copy-right {
    font-size: 1.2rem;
    color: var(--Grey-light-4);
    padding: 2.5rem;
    text-align: center; }

.hotel-photo {
  display: flex; }
  .hotel-photo__image {
    width: 100%;
    height: 100%; }

.overview {
  display: flex;
  align-items: center;
  gap: 3rem;
  padding-left: 3rem;
  background-color: #fff;
  border-bottom: var(--line); }
  .overview__stars {
    margin-right: auto;
    padding: 2.5rem 0; }
  .overview__star, .overview__icon-location {
    font-size: 1.6rem;
    color: var(--Primary); }
  .overview__location {
    font-size: 1.2rem;
    display: flex;
    gap: 1rem;
    align-items: center; }
  .overview__rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    gap: .3rem;
    padding: 0 2rem;
    background-color: var(--Primary);
    color: var(--Grey-light-1);
    font-weight: 300; }
  .overview__rating-averange {
    font-size: 2.5rem; }
  .overview__rating-count {
    font-size: 1rem;
    text-transform: uppercase; }

.description__text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 3rem;
  border-bottom: var(--line); }

.description .list {
  padding: 3rem 0;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.4rem;
  border-bottom: var(--line); }
  .description .list__item {
    flex: 0 0 50%;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1.3rem;
    padding: .4rem;
    text-transform: capitalize; }
    .description .list__item::before {
      content: "\203A";
      font-size: 2.5rem;
      margin-top: -.8rem;
      color: var(--Primary);
      font-family: sans-serif; }
  .description .list__icon {
    color: var(--Primary);
    font-weight: 300; }

.description__recommend {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3rem; }

.description__count {
  font-size: 1.4rem;
  color: var(--Grey-dark-3); }

.description__photo {
  box-sizing: content-box;
  width: 4rem;
  border: 3px solid var(--Grey-light-1);
  border-radius: 50%; }
  .description__photo:not(:last-child) {
    margin-right: -2rem; }

.review {
  padding: 4rem 3rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  box-shadow: var(--light-shadow);
  position: relative; }
  .review__text {
    font-size: 1.3rem;
    z-index: 10;
    position: relative; }
    .review__text::before {
      content: '\201C';
      display: inline-block;
      color: var(--Grey-light-3);
      font-size: 20rem;
      position: absolute;
      top: -3rem;
      left: -2rem;
      line-height: .7;
      z-index: -1; }
  .review__user {
    display: flex;
    align-items: center;
    gap: 2rem; }
  .review__img {
    width: 4rem;
    border-radius: 50%; }
  .review__user-box {
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: .3rem; }
  .review__user-name {
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 600; }
  .review__user-date {
    text-transform: capitalize;
    color: var(--Grey-dark-3);
    font-size: 1rem; }
  .review__rating {
    font-size: 2.5rem;
    font-weight: 300;
    color: var(--Primary); }

.cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem; }

.header {
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--line);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  padding-left: 2rem; }

.container {
  max-width: 120rem;
  min-height: 50rem;
  margin: 8rem auto;
  box-shadow: var(--dark-shadow);
  background-color: var(--Grey-light-1); }

.content {
  display: flex; }

.side-nav {
  background-color: var(--Grey-dark-1);
  flex: 0 0 18%; }

.hotel-view {
  flex: 1; }

.detail {
  padding: 4.5rem;
  display: flex;
  gap: 4.5rem; }

.user-reviews {
  font-size: 1.4rem;
  flex: 1;
  border-radius: .2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }

.description-box {
  flex: 0 0 60%;
  box-shadow: var(--light-shadow);
  background-color: #fff;
  padding: 3rem;
  border-radius: .2rem; }

.cta-box {
  padding: 3rem 3rem 8rem  3rem; }
