:root {
  --Primary: #eb2f64;
  --Primary-light: #FF3366;
  --Primary-dark: #BA265D;
  --Grey-light-1: #faf9f9;
  --Grey-light-2: #f4f2f2;
  --Grey-light-3: #f0eeee;
  --Grey-light-4: #ccc;
  --Grey-dark-1: #333;
  --Grey-dark-2: #777;
  --Grey-dark-3: #999;
  --dark-shadow: 0 3rem 6rem rgba(0,0,0,.3)
; }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  background-image: linear-gradient(to right bottom, var(--Primary-light), var(--Primary-dark));
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  color: var(--Grey-dark-2); }

.header {
  height: 7rem;
  background-color: #fff;
  border-bottom: 2px solid var(--Grey-light-2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  padding-left: 2rem; }

.logo {
  height: 3.25rem;
  cursor: pointer; }

.search {
  flex: 0 0 40%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .search__input {
    border: none;
    background-color: var(--Grey-light-2);
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    padding: .7rem 2rem;
    border-radius: 10rem;
    width: 90%;
    transition: all .2s;
    margin-right: -3.5rem; }
    .search__input:focus {
      outline: none;
      width: 100%;
      background-color: var(--Grey-light-3); }
    .search__input::placeholder {
      color: var(--Grey-light-4);
      font-weight: 300; }
    .search__input::-webkit-input-placeholder {
      color: var(--Grey-light-4);
      font-weight: 300; }
  .search__button {
    border: none;
    outline: none;
    background-color: inherit;
    color: var(--grey-light-2); }
  .search__icon {
    height: 2.25rem;
    width: 2.25rem; }

.user-nav {
  display: flex;
  align-items: center;
  height: 100%; }
  .user-nav > * {
    padding: 2rem;
    align-self: stretch;
    cursor: pointer; }
  .user-nav > *:hover {
    background-color: var(--Grey-light-3); }
  .user-nav__icon-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center; }
  .user-nav__icon {
    height: 2.25rem;
    width: 2.25rem;
    color: var(--grey-light-2); }
  .user-nav__notif {
    font-size: .8rem;
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--Primary);
    color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2rem;
    left: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .user-nav__image-user {
    display: flex;
    align-items: center;
    gap: 1rem; }
  .user-nav__image {
    height: 3.75rem;
    border-radius: 50%; }

.side-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3.5rem 0; }
  .side-nav__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: .5rem; }
  .side-nav__link:link, .side-nav__link:visited {
    color: var(--Grey-light-1);
    text-decoration: none;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1.5rem 3rem;
    text-transform: uppercase;
    z-index: 10;
    position: relative; }
  .side-nav__link::before {
    content: "";
    width: .3rem;
    position: absolute;
    left: 0;
    height: 100%;
    background-color: var(--Primary);
    transform: scaleY(0);
    z-index: -1;
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }
  .side-nav__link:hover::before {
    transform: scaleY(1);
    width: 100%; }
  .side-nav__item--active {
    background-color: var(--Primary); }
  .side-nav__link:active:before {
    background-color: var(--Primary-light); }
  .side-nav__icon {
    font-size: 1.8rem; }
  .side-nav__copy-right {
    font-size: 1.2rem;
    color: var(--Grey-light-4);
    padding: 2.5rem;
    text-align: center; }

.hotle-photo {
  display: flex; }

.container {
  max-width: 120rem;
  min-height: 50rem;
  margin: 8rem auto;
  box-shadow: var(--dark-shadow);
  background-color: var(--Grey-light-2); }

.content {
  display: flex; }

.side-nav {
  background-color: var(--Grey-dark-1);
  flex: 0 0 18%; }

.hotel-view {
  flex: 1;
  height: 80rem; }
