.header {
    min-height: 7rem;
    background-color: #fff;
    border-bottom: var(--line);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    padding-left: 2rem;

    @include respond(fifth) {
        flex-wrap: wrap;
        padding-left: 0;
        border-bottom: none;
    }
}


.container {
    max-width: 120rem;
    min-height: 50rem;
    margin: 8rem auto;
    box-shadow: var(--dark-shadow);
    background-color: var(--Grey-light-1);

    @include respond(first) {
        margin: 0;
        width: 100%;
        max-width: 100%;
    }
}



.content {
    display: flex;

    @include respond(third) {
        flex-direction: column;
    }
}

.side-nav {
    background-color: var(--Grey-dark-1);
    flex: 0 0 18%;
}

.hotel-view {
    flex: 1;
}

.detail {
    padding: 4.5rem;
    display: flex;
    gap: 4.5rem;

    @include respond(fourth) {
        flex-direction: column;
    }
}

.user-reviews {
    font-size: 1.4rem;
    flex: 1;
    border-radius: .2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    @include respond(fourth) {
        flex-direction: row;
        flex-wrap: wrap;
    }

    @include respond(fifth) {
        flex-direction: column;
        gap: 4.5rem;
    }
}

.description-box {
    flex: 0 0 60%;
    box-shadow: var(--light-shadow);
    background-color: #fff;
    padding: 3rem;
    border-radius: .2rem;
}

.cta-box {
    padding: 3rem 3rem 8rem  3rem;
}
