.header {
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--line);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    padding-left: 2rem;
}


.container {
    max-width: 120rem;
    min-height: 50rem;
    margin: 8rem auto;
    box-shadow: var(--dark-shadow);
    background-color: var(--Grey-light-1);
}



.content {
    display: flex;
}

.side-nav {
    background-color: var(--Grey-dark-1);
    flex: 0 0 18%;
}

.hotel-view {
    flex: 1;
}

.detail {
    padding: 4.5rem;
    display: flex;
    gap: 4.5rem;
}

.user-reviews {
    font-size: 1.4rem;
    flex: 1;
    border-radius: .2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.description-box {
    flex: 0 0 60%;
    box-shadow: var(--light-shadow);
    background-color: #fff;
    padding: 3rem;
    border-radius: .2rem;
}

.cta-box {
    padding: 3rem 3rem 8rem  3rem;
}
