*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    background-image: linear-gradient(to right bottom, var(--Primary-light), var(--Primary-dark));
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    color: var(--Grey-dark-2);
}