.logo {
    height: 3.25rem;
    cursor: pointer;

    @include respond(fifth) {
        padding-left: 2rem;
    }
}

.search {
    flex: 0 0 40%;
    display: flex;
    align-items: center;

    &__input {
        border: none;
        background-color: var(--Grey-light-2);
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        padding: .7rem 2rem;
        border-radius: 10rem;
        width: 90%;
        transition: all .2s;
        margin-right: -3.5rem;

        &:focus {
            outline: none;
            width: 100%;
            background-color: var(--Grey-light-3);
        }

        &::placeholder {
            color: var(--Grey-light-4);
            font-weight: 300;
        }

        &::-webkit-input-placeholder {
            color: var(--Grey-light-4);
            font-weight: 300;
        }

        @include respond(fifth) {
            width: 100%;
            border-radius: 0;
        }
    }


    &__button {
        border: none;
        outline: none;
        background-color: inherit;
        color: var(--grey-light-2);
    }

    &__icon {
        height: 2.25rem;
        width: 2.25rem;
    }

    @include respond(fifth) {
        order: 1;
        flex: 0 0 100%;
        margin-bottom: 1rem;
    }
}

.user-nav {
    display: flex;
    align-items: center;
    height: 100%;

    & > * {
        padding: 2rem;
        align-self: stretch;
        cursor: pointer;
    }

    & > *:hover {
        background-color: var(--Grey-light-3);
    }


    &__icon-box {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__icon {
        height: 2.25rem;
        width: 2.25rem;
        color: var(--grey-light-2);
    }

    &__notif {
        font-size: .8rem;
        width: 1.5rem;
        height: 1.5rem;
        background-color: var(--Primary);
        color: #fff;
        border-radius: 50%;
        position: absolute;
        top: 2rem;
        left: 3.5rem;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__image-user {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    &__image {
        height: 3.75rem;
        border-radius: 50%;
    }
}