.side-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3.5rem 0;

    &__list {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: .5rem;

        @include respond(third) {
            flex-direction: row;
            gap: 0;
            align-items: center;
        }
    }

    &__link:link,
    &__link:visited {
        color: var(--Grey-light-1);
        text-decoration: none;
        font-size: 1.4rem;
        display: flex;
        align-items: center;
        gap: 2rem;
        padding: 1.5rem 3rem;
        text-transform: uppercase;
        z-index: 10;
        position: relative;

        @include respond(third) {
            padding: 2rem;
            justify-content: center;
            gap: 1rem;
        }

        @include respond(fifth) {
            flex-direction: column;
        }
    }

    &__link::before {
        content: "";
        width: .3rem;
        position: absolute;
        left: 0;
        height: 100%;
        background-color: var(--Primary);
        transform: scaleY(0);
        z-index: -1;
        transition: transform .2s, width .4s cubic-bezier(1, 0, 0, 1) .2s, background-color .1s;
    }

    &__link:hover::before {
        transform: scaleY(1);
        width: 100%;
    }

    &__item--active {
        background-color: var(--Primary);
    }

    &__link:active:before {
        background-color: var(--Primary-light);
    }

    &__item {
        @include respond(third) {
            flex: 0 0 25%;
        }
    }

    &__icon {
        font-size: 1.8rem;
    }

    &__copy-right {
        font-size: 1.2rem;
        color: var(--Grey-light-4);
        padding: 2.5rem;
        text-align: center;

        @include respond(third) {
            display: none;
        }
    }

    @include respond(third) {
        padding: 0;
    }
}